<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Employee</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<section id="travelagency">
  <div class="container">
    <div th:insert="fragments/header :: header"></div>
    <div class="addeditentity">
      <form th:action="@{/EmployeesServlet}" method="post">
        <input type="hidden" name="action"
               value="employeeEdit"/>
        <label for="employeeId">Employee Id:</label><br>
        <input type="text" id=employeeId name="employeeId"
               th:value="${employee.id}" readonly/><br>
        <label for="employeeSurname">Employee surname:</label><br>
        <input type="text" id=employeeSurname name="employeeSurname"
               th:value="${employee.surname}"/><br>
        <label for="employeeName">Employee name:</label><br>
        <input type="text" id=employeeName name="employeeName"
               th:value="${employee.name}"/><br>
        <label for="employeeAge">Employee age:</label><br>
        <input type="number" id=employeeAge name="employeeAge"
               th:value="${employee.age}"/><br>
        <input type="submit" value="Edit"/>
      </form>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
  </div>
</section>
</body>
</html>